
 body {
    color: #000; /* цвет текста страницы */
    background: #  ff0000; /* цвет фона */
    margin: 0; /* обнуление полей по краям */
   }
   #header {
    height: 100px; /* высота шапки */
    background: #ff0000; /* фоновый цвет */
   }
   #content {
    width: 80%; /* ширина контента */
    background: #eee; /* фон */
    height: 300px; /* высота */
    float: right; /* всплытие вправо */
   }
   #menu {
    height: 300px; /* высота меню */
    background: #0fc; /* фон */
    margin-right: 80%; /* правое поле */
   }
   #footer {
    height: 50px; /* высота подвала */
    color: #fff; /* цвет текста */
    background: #000; /* фон */
    clear: both; /* прерывание обтекания */
   }
